 @font-face {
    font-family: "monomaniac-one-regular";
    src: url(fonts/monomaniac-one-regular.ttf);
  }
/*
.abc{
    font-family: 'monomaniac-one-regular' ;
} */

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  margin:0;
  font-family: 'Montserrat', sans-serif;

}
.wrapper{
  max-width:1297px ;
  margin:0 auto ;
}
/* buttons */
.btn{
  border-radius: 40px;
  padding: 16px 32px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
}
.btn.dark-register{
  background: rgb(199,249,249);
background: linear-gradient(90deg, rgba(199,249,249,1) 0%, rgba(221,183,232,1) 100%);
height: 50px;
width: 167px;
text-decoration: none;
text-align: center;
color: black;

}
.btn.dark-login{
  background: rgb(199,249,249);
background: linear-gradient(90deg, rgba(199,249,249,1) 0%, rgba(221,183,232,1) 100%);
height: 50px;
width: 167px;
text-decoration: none;
text-align: center;
color: rgb(0, 0, 0);

}
.btn.light-contact{
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  height: 50px;
  width: 167px;
  text-decoration: none;
  color: #FFFFFF;
}
.btn.dark{
  background: rgb(199,249,249);
background: linear-gradient(90deg, rgba(199,249,249,1) 0%, rgba(221,183,232,1) 100%);
border: transparent;
}


/* header */

body{
  background-color: #A96CD8;
height: 100vh;
width: 100%;
}
nav{
  display: flex;
  justify-content: space-between;
align-items: center;

}
nav ul{
  position: fixed;
top:60px;
z-index: 100;
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
 margin-left: 600px;
}
nav img{
  filter: drop-shadow(0.35rem 0.35rem 0.4rem #ad00f7);
}
nav ul li a{
  
  text-decoration: none;

  font-family: 'Montserrat', sans-serif;

font-weight: 700;
font-size: 15px;

color: #FFFFFF;
}
/* hero section */
.hero-section
{
  display:flex;
  height: 100vh;
  width: 100%;
justify-content: space-between;
  align-items:center ;
  margin-top: -120px;
  
  
}
.left-hero{
  margin-top: 70px;
}
.left-hero h1{
  font-weight: 700;
  font-size: 56px;
  color:white;
  margin-bottom: 60px;
  line-height: 5px;

}
.left-hero p{
  font-weight: 200;

 line-height: 25px;
  color: white;
  font-size: 15px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  
  
}
.right-hero img{
  margin-right: 82px;
  margin-top: 30px;
 border-radius: 160px 160px 70px 160px;
 box-shadow: rgb(122, 23, 135) 0px 19px 38px, rgb(126, 25, 144) 0px 15px 12px;
 
}

/* Introduction section*/
.synergized{
  background-color: aqua;
  width: 1332.99px;
  height: 187.67px;
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
border-radius: 90px;
text-align: center;
position: absolute;
margin-top: 890px;

}
.synergized h1{
  color: #FFFFFF;
  margin-top: 50px;
  font-size: 64px;
  
}

.synergized img{
  height: 70px;
align-items: center;
}
/* Introsuction section */

.introduction{
  margin-top: 120px;
  display:flex;
  height: 100vh;
  width: 100%;
justify-content: space-between;
  align-items:center ;

}
.left h1{
font-weight: 700;
font-size: 50px;
color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
margin-left: 100px;
}
.left h2{
  margin-left: 150px;
font-weight:1;
font-size: 36px;
color: #FFFFFF;
margin-top: -25px;
letter-spacing: 2px;
margin-bottom: 118px;
display: flex;
}
.right{
margin-left: 100px;
}
.right p{
  margin-bottom: 160px;
  margin-left: 200px;
  font-family: 'Montserrat', sans-serif;
margin-top: 90px;
font-weight: 200;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;


}
.right h1{
  font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 44px;
margin-left: 200px;
color: #FFFFFF;
}
.right h2{

  font-family: 'Montserrat', sans-serif;
font-weight: 100;
font-size: 36px;
line-height: 44px;
margin-left: 200px;
color: rgba(255, 255, 255, 0.95);
margin-top: -35px;
letter-spacing: 2px;
display: flex;
}
